*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: #fbfbfb;
    padding: 0;
    margin: 0;
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000000;
    line-height: 1.5;
}
.container{
    width: 85%;
    max-width: 1360px;
    padding: 0;
    margin: 0 auto;
}