* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbfbfb;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
}
.container {
  width: 85%;
  max-width: 1360px;
  padding: 0;
  margin: 0 auto;
}

/* Navbar */
header {
  background-color: #ffffff;
  padding: 16px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo img {
  height: 60px;
  width: auto;
  max-width: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu ul li a {
  color: #000000;
  font-size: 16px;
  line-height: inherit;
  font-weight: 500;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #0000ff;
}
.nav-btn {
  height: 44px;
  background-color: #30b868;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  padding: 12px 16px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}
.nav-btn:hover {
  background-color: #000000;
}

/* Footer */
footer {
  background-color: #001931;
  margin: 0;
  padding: 120px 120px 30px;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0 0 80px;
}
.footer-links p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}
.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
}
.footer-links ul li a {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.footer-links ul li a:hover {
  background-color: #30b868;
  color: #fff;
}
.footer-copyright {
  border-top: 1px solid #e5e7eb33;
  text-align: center;
  color: #fafafa;
  padding: 30px 0 0;
  margin: 0;
}
