* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #fbfbfb;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.5;
}
.container {
  width: 85%;
  max-width: 1360px;
  padding: 0;
  margin: 0 auto;
}

/* Navbar */
header {
  background-color: #ffffff;
  padding: 16px 0;
}
nav .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.logo img {
  height: 60px;
  width: auto;
  max-width: 100%;
}
.menu ul {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 32px;
}
.menu ul li a {
  color: #000000;
  font-size: 16px;
  line-height: inherit;
  font-weight: 500;
  text-decoration: none;
}
.menu ul li a:hover {
  color: #0000ff;
}
.nav-btn {
  height: 44px;
  background-color: #30b868;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 0;
  padding: 12px 16px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}
.nav-btn:hover {
  background-color: #000000;
}

/* Cards */
#cards .section-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#cards h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: center;
  text-transform: capitalize;
  padding: 58px 0 0 0;
}
#cards p {
  color: #627382;
  line-height: 20px;
  text-align: center;
}
.cards-holder {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 24px;
  margin: 44px 0 0;
}
.card {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
  width: 25%;
  height: 300px;
  text-align: center;
  border-radius: 8px;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
}
.card-icon {
  background-color: #f95555;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.card-icon img{
  width: 32px;
  height: 32px;
}
.card h3{
color: #001931;
font-size: 24px;
font-weight: 600;
line-height: 29px;
text-align: center;
text-transform: capitalize;
}
.card p{
color:#627382;
font-size: 16px;
font-weight: 400;
line-height: 20px;
text-align: center;
}

/* Knowledge */
#knowledge {
    background-color: #fff;
    padding: 120px 0;
    margin: 50px 0 0 0;
    overflow: hidden;
    position: relative;
    z-index: 999;
}
#knowledge .content-area {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 60px;
}
#knowledge .section-content {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;
  flex-wrap: nowrap;
  gap: 40px;
}
#knowledge .section-content .info{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px;
}
#knowledge .section-content span {
  color: #30b868;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  text-transform: uppercase;
}
#knowledge .section-content h2 {
  color: #001931;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  text-align: left;
  text-transform: capitalize;
}
#knowledge .section-content p {
  color: #627382;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
}
#knowledge .section-content ul {
  list-style: none;
  color: #001931;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  text-align: left;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}
#knowledge .section-content ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 6px;
  font-weight: 500;
  line-height: 20px;
}


/* Early Access */
#early-access {
  background-color: #ffffff;
  padding: 0;
  margin: 0 0 120px;
}
#early-access .content-area {
  background: #f7f6f2;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  padding: 80px 40px;
  margin: 0;
  border-radius: 12px;
}
#early-access .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
#early-access .content-area h2 {
  color: #001931;
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
  text-transform: capitalize;
}
#early-access .content-area p {
  color: #627382;
  line-height: 24px;
  text-align: center;
}
#early-access .action{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}
#early-access .content-area button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 52px;
  padding: 12px 16px;
  border-radius: 4px;
  box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.15);
  background: #30b868;
  color: #fff;
  border: 0;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
}
#early-access .content-area button:hover{
  background-color: #000;
}
#early-access .action p{
  line-height: 20px;
}

/* Footer */
footer {
  background-color: #001931;
  margin: 0;
  padding: 120px 120px 30px;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  margin: 0;
  padding: 0 0 80px;
}
.footer-links p {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  text-align: center;
  margin-bottom: 16px;
}
.footer-links ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
  gap: 16px;
}
.footer-links ul li a {
  background-color: #fff;
  color: #000;
  border-radius: 50%;
  display: block;
  width: 20px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
}
.footer-links ul li a:hover {
  background-color: #30b868;
  color: #fff;
}
.footer-copyright {
  border-top: 1px solid #e5e7eb33;
  text-align: center;
  color: #fafafa;
  padding: 30px 0 0;
  margin: 0;
}